<html>
    <head>
        <title>Pash's blog</title>
    </head>
    <h1>Making magic with Django</h1>
    <h2>... and a little help from python</h2>
    <body>
       <div>
           <h1><a href="">Django Girls Blog</a></h1>
       </div>

       <div>
           <p>published: 11.07.2015, 12:14</p>
           <h2><a href="">My first post</a></h2>
           <p>Learning to code.</p>
       </div>

       <div>
           <p>published: 11.07.2015, 13:44</p>
           <h2><a href="">My second post</a></h2>
           <p>Still learning.</p>
       </div>
   </body>
</html>
